h1 {
    background-color: #014189; 
	color: white;
}

body {
    display: grid;
		gap: 0.5em;
}

@media (min-width: 45em) { 
	/* Breite beträgt mindestens 45em */ 
	body {
    grid-template-columns: 1fr 3fr 1fr;	
    grid-template-rows: auto 1fr 100px;
	}
}

header,footer {
	grid-column: 1 / -1;
}

nav {
	background-color: 0081c3;
	}
	
	aside {
		background-color: #0081c3;
	}
	
	footer {
		background-color: #afafaf;
	}
	
	main {
		background-color: #00a0b0;
	}