h1 {
    background-color:#00aeef ; 
}

body {
    display: grid;
		gap: 0.5em;
}

@media (min-width: 45em) { 
	/* Breite beträgt mindestens 45em */ 
	body {
    grid-template-columns: 1fr 3fr 1fr;	
    grid-template-rows: auto 1fr 100px;
	}
}

header,footer {
	grid-column: 1 / -1;
}

nav {
	background-color: #52B83D;
	}
	
	aside {
		background-color: #52B83D;
	}
	
	footer {
		background-color: #afafaf;
	}
	
	main {
		background-color: #00a0b0;
		
	}
main p{margin-top: 60px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid #555;
  }