h1 {
    font-style: italic;
    font-family: cursive;
    margin-left: 10px;
	  color: white;
    cursor: default;
}

body {
    display: grid;
		gap: 0.5em;
    user-select: none;
}

@media (min-width: 45em) {
	/* Breite beträgt mindestens 45em */
	body {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr 100px;
	}
}

header,footer {
	grid-column: 1 / -1;
}


	footer {
		background-color: #afafaf;
    border-radius: 5px;
    text-align: center;
	}

	main {
		background-color: #00a0b0;
    border-radius: 5px;
	}

  header{
    background-color: #014189;
    border-radius: 5px;
  }

button{
  position: relative;
  width: 17%;
  height: 40px;
  border-width:medium;
  border-radius: 15px;
  font-size: 18px;
  font-family: cursive ;
  background-color: #00a0b0;
  border-color: cyan;
  font-weight: bold;
  cursor: pointer;
  transition: 0.70s;
}

button:hover{
  background-color: 0081c3;
  border-color: #00a0b0;
}

img {
  position: relative;
  top: 5px;
  border-radius: 5px
}

text {
  position: relative;
  bottom: 25px;
}

 table {
   position:relative;
   left:5%;
   width: 90%;
   height: 500px;
   font-size: 18px;
   background-color: 0081c3;
   border-radius: 5px;
 }


 th{
   height: 150px;
   border:none;
   font-family: cursive;
   font-style: italic;
   color: white;
   font-size: 25px;
  cursor: default;

 }
 td{
   text-align: center;
   color: white;
   border-width: thin;
   border-radius: 5px;
   width: 200px;
   height: 50px;
   background-color: rgba(0, 62.75, 69.02, 0.3);
   border-color:  rgba(0, 62.75, 69.02, 0.5);
   transition: 0.3s;
 }

 td:hover{
   background-color: #00a0b0;
 }

 a{
   text-decoration: none;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #f1f1f1;
   border: 1px solid #555;
   }

 h2 {
   position: relative;
   left: 10px;
   font-family:cursive;
   font-style: italic;
   text-align: center;
   color: white;

 }

 details{
   position:relative;
   left: 2.5%;
   font-family:cursive;
   cursor: pointer;
   background-color: rgba(0,255,255, 0.2);
   margin-bottom: 5px;
   width: 95%;
   border-radius: 5px;
   color: white;
   transition: 0.5s;
 }

details:hover{
  background-color: rgba(0,255,255, 0.4);
}

p{
  cursor: default;
  user-select: text;
}

aside div button{
	width:auto ;
	height:auto ;
}
